
<div class="container text-right">
 
        <div class="sub-footer">
            
            &nbsp;</p>
        </div>
            
    </div>
<style type="text/css">

    footer {
        color: white;
        padding: 15px;
      }

    

.footer {
    
      /*   background: #615c59;
    background: url(/assets/go1_recruit/images/footer-bg.png), radial-gradient(#615c59,#615c59);*/
    
            background-size: cover;
    /*-webkit-font-smoothing: antialiased;*/
}
.footer .ftr-container {
    padding: 20px 20px 20px;
    /*width: 1170px;*/
    /*max-width: 1200px;*/
}





.sub-footer {
    border-top: 1px solid rgba(137, 130, 126, .3);

    justify-content: space-between;
    width: 100%;
    padding: 22px 0 0;
    margin: 20px 0 0;
}
.sub-footer p {
    color: #fff;
    margin: 0;
    font-size: 15px;
    font-weight: 300; 
}


.sub-footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.footer .container>ul>li a:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 900px){
.footer .about-column {
    float: none;
    text-align: center;
    width: 100%;
}
.footer .about-column svg {
    margin-left: auto;
    margin-right: auto;
}
.footer .container>ul {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer .container>ul>li {
    margin: 0!important;
}
.footer .mobile-social {
    display: block;
    text-align: center;
    margin: 20px 0;
}
}
@media (max-width: 480px){
.footer .container>ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.footer .container>ul>li {
    flex-basis: 50%;
}
}
</style>