{% extends "templates/Layout/customweb2.html" %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href="/assets/go1_recruit/css/RecordRtc/getHTMLMediaElement.css">
<!-- <link rel="stylesheet" type="text/css" href="/assets/go1_recruit/css/go1_recruit.css"> -->
<style>
	#remote-videos-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:2em;
	}
</style>
<div style="height: 80px;"></div>

<div id="info-section">
    <h2 class="text-center">{{exam_info.questionpaper_name}}</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 150px;">
            <div><b>Candidate Name:</b> {{exam_info.candidate_name}}</div>
            <div><b>Candidate Email:</b> {{exam_info.candidate_email}}</div>        
            <div><b>Test Duration:</b> {{exam_info.duration_minutes}} Mins</div>
            <div><b>No. of Questions:</b> {{exam_info.noof_questions}}</div>
            <div id="not-available"><span class="fa fa-times" style="color: #ce1717;"></span> Candidate is not available</div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
                <button type="button" class="btn btn-warning plan-btn plans-btn" id="join-room">Join Room</button>
            </div>
        </div>
    </div>
</div>

<div id="videos-section">
    <div class="row">        
        <div class="col-md-12 col-sm-12 col-xs-12 mg-20">
            <div id="remote-videos-container" class="videos-container">
                <div class="loader">Please wait until your connection is established.</div>
                <div class="test-completed" style="text-align: center; display: none;">
                    {{exam_info.candidate_name}} has completed the test.
                    <button type="button" class="btn btn-warning plan-btn plans-btn" onclick="evaluateTest()">Evaluate Test</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" id="user-video">
            <div id="videos-container" class="videos-container">
				<video id="interviewer" playsinline autoplay muted></video>
				<video id="candidate-screen" playsinline autoplay></video>
				<video id="candidate" playsinline autoplay></video>
			</div>
        </div>
    </div>
</div>

{% include "templates/pages/systemrequirements.html" %}
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
{{ include_script('frappe-web.bundle.js') }}
<script src="/assets/go1_recruit/js/RecordRtc/RecordRTC.js"></script>
<script src="/assets/go1_recruit/js/RecordRtc/RTCMultiConnection.min.js"></script>
<script src="/assets/go1_recruit/js/RecordRtc/video-conference.js"></script>
<script src="/assets/go1_recruit/js/RecordRtc/getHTMLMediaElement.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="/assets/go1_recruit/js/monitortest.js"></script> -->
<!-- <script src="/assets/go1_recruit/js/go1_recruit.js"></script> -->
<script>
	$(document).ready(function() {
    var user_email = '{{ user_email }}';
    var roomid = '{{ room_id }}';
    var conference;
    var count = 1;
	// console.log('{{ user_email }}')
    // Initialize the connection
    // initSocketConnection();

    $('#join-room').click(function() {
		// joinRoom();
		// start_test();
		start()
		showVideoSection();
		removeLoader()
    });

    // Function to initialize socket connection
    function initSocketConnection() {
        frappe.socketio = io.connect(frappe.socketio.get_host(9000), { secure: true });
        frappe.socketio.on('room-created', function(room_id) {
            autoConnectRoom(room_id);
            isRoomExist = 1;
        });
        frappe.socketio.on('room-connected', function() {
        });
    }

    // Function to join the room
    function joinRoom() {
        conference.username = user_email;
        conference.connection.socket.emit('room-created', roomid);
        autoConnectRoom(conference.roomid);
        $('#join-room').prop('disabled', true);
    }

    // Function to auto connect to the room
    function autoConnectRoom(room_id) {
		console.log(room_id)
		console.log(roomid)
        if (room_id === roomid) {
			isRoomExist = 1;
			console.log(isRoomExist)
            conference.join_room(isRoomExist);
        }
    }

    // Function to show the video section
    function showVideoSection() {
        $('#info-section').slideUp();
        $('#videos-section').show();
    }

    // Function to handle room empty
    function roomEmpty() {
        $('#not-available').show();
    }

    // Function to remove loader
    function removeLoader() {
        $('.loader').hide();
    }

    // Function to handle room closed
    function roomClosed() {
        if (count === 1) {
            count++;
            conference.leave_room();
        }
        setTimeout(function() {
            $('.test-completed').show();
        }, 1000);
    }

    // Function to evaluate the test
    function evaluateTest() {
        frappe.call({
            method: 'go1_recruit.templates.pages.monitortest.get_result_id',
            args: {
                candidate: '{{exam_info.candidate_email}}',
                exam_id: '{{exam_info.questionpaper_id}}'
            },
            callback: function(r) {
                if (r.message) {
                    window.location.href = '/desk#Form/Exam Result/' + r.message;
                }
            }
        });
    }
	const iceConfiguration = { }
	iceConfiguration.iceServers = [
		{ urls: "stun:stun.l.google.com:19302" }
	];
	iceConfiguration.iceServers.push({
		urls: 'stun:muazkhan.com:3478',
		credential: 'muazkh',
		username: 'hkzaum'
	});
	iceConfiguration.iceServers.push({
		urls: 'turns:muazkhan.com:5349',
		credential: 'muazkh',
		username: 'hkzaum'
	});
	iceConfiguration.iceServers.push({
		urls: 'turn:muazkhan.com:3478',
		credential: 'muazkh',
		username: 'hkzaum'
	});
	const localConnection = new RTCPeerConnection(iceConfiguration)
	const interviewerVideo = document.getElementById("interviewer")
	var candidateJoined = 0
	async function start(){
		const interviewerStream = await navigator.mediaDevices.getUserMedia({
			video: true,
			audio: false,
		});
		document.getElementById("interviewer").srcObject = interviewerStream;
		for (var track of interviewerStream.getTracks()) {
			console.log('local stream',track)
			localConnection.addTrack(track, interviewerStream);
		}
		localConnection.ontrack = (ev) => {
			const track = ev.track;
			console.log('On Track Triggered', ev)
			if (ev.streams && ev.streams[0]) {
				document.getElementById("candidate-screen").srcObject = ev.streams[0]
				document.getElementById("candidate").srcObject = ev.streams[0]
			}
		};
		
		localConnection.onicecandidate = e =>  {
		console.log("New ICE candidate on localConnection, Reprinting SDP")
			// console.log(JSON.stringify(localConnection.localDescription))
			localSDP = localConnection.localDescription
		}
		localConnection.createOffer().then(o => localConnection.setLocalDescription(o) )
	}
	function answerSDP(remoteSDP){
		// console.log(remoteSDP)
		const answer = remoteSDP
		localConnection.setRemoteDescription(answer)
		// .then(a=>console.log("Remote Description in local is Set"))
	}
	async function listen_for_candidate(){
		while(!candidateJoined) {
			await new Promise(resolve => setTimeout(resolve, 5000))
			console.log('Awaiting Candidate')
			frappe.call({
				'method':'go1_recruit.go1_recruit.api.check_candidate_presence'
			})
		}
	}
	if (!candidateJoined){
			listen_for_candidate()
		}
		setTimeout(() => {
		frappe.realtime.on('candidate_joined', function(){
			frappe.call({'method':'go1_recruit.go1_recruit.api.offer', args:{'localSDP':localSDP}})
			candidateJoined = 1
		})
		frappe.realtime.on('answer', function(data){
			answerSDP(data['remoteSDP'])
		})
	}, 1000);
    // Initialize conference
    // function initConference() {
    //     conference = new RTCConference({
    //         videosContainer: document.getElementById('videos-container'),
    //         remoteVideosContainer: document.getElementById('remote-videos-container'),
    //         recordConference: false,
    //         roomid: roomid,
    //         enable_video: true,
    //         auto_join: true,
    //         show_user_screen_sharing: true,
    //         show_remote_users_media: true,
    //         enable_option_buttons: true,
    //         allow_open_room: false
    //     });

    //     conference.connection.errors.ROOM_NOT_AVAILABLE = "Candidate hasn't started the test yet. Please wait until the candidate starts their test.";
    //     conference.connection.errors.ROOM_FULL = "Only one interviewer can see the candidate's test.";
    // }

    // Generate random ID
    function makeid(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        for (var i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return result;
    }

    // initConference();
	start()
});
function start_test(){
	// console.log(window.location.origin)
	// window.location = window.location.origin + "/start_test1?token=" + '{{ token }}'
}
</script>
{% endblock %}
