{% extends "templates/web.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC</title>
    <!--<link rel="stylesheet" href="main.css">-->
</head>
<body>
    <h1>This is a test for WebRTC Peer-to-Peer Video Chat.</h1>
    <div id="videos">
        <video class="video-player" id="interviewer" autoplay playsinline>No Support</video>
        <video class="video-player" id="candidate-screen" autoplay playsinline>No Support</video>
        <video class="video-player" id="candidate" autoplay playsinline>No Support</video>
        <!-- <textarea class="text-box" id="local-text"></textarea>
        <textarea class="text-box" id="remote-text"></textarea>
        <button id="send-local" onclick="localSend()">Local Send</button>
        <button id="send-remote" onclick="remoteSend()">Remote Send</button> -->
    </div>
</body>
<!--<script src="main.js"></script>-->
</html>
{% endblock %}
{% block style %}
<style>
	#videos{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:2em;
	}
	.video-player{
		background-color:black; 
		width:100%;
		height:300px;
	}
	.text-box{
		/*background-color:black; */
		width:100%;
		height:300px;
	}
</style>
{% endblock %}
{% block script %}
<script src="/socket.io/socket.io.js"></script>

<script>
	const iceConfiguration = { }
	iceConfiguration.iceServers = [
		{ urls: "stun:stun.l.google.com:19302" },
		{ urls: "stun:stun.l.google.com:5349" },
		{ urls: "stun:stun1.l.google.com:3478" },
		{ urls: "stun:stun1.l.google.com:5349" },
		{ urls: 'stun:stun1.l.google.com:19302' },
		{ urls: "stun:stun2.l.google.com:19302" },
		{ urls: "stun:stun2.l.google.com:5349" },
		{ urls: "stun:stun3.l.google.com:3478" },
		{ urls: "stun:stun3.l.google.com:5349" },
		{ urls: "stun:stun4.l.google.com:19302" },
		{ urls: "stun:stun4.l.google.com:5349" },
        { urls: "stun:stun.relay.metered.ca:80" },
		{
			urls: "turn:global.relay.metered.ca:80",
			username: "99aa7fcd9147f6e490b02a14",
			credential: "ypHMJDCHLtOwX2fp",
		},
		{
			urls: "turn:global.relay.metered.ca:80?transport=tcp",
			username: "99aa7fcd9147f6e490b02a14",
			credential: "ypHMJDCHLtOwX2fp",
		},
		{
			urls: "turn:global.relay.metered.ca:443",
			username: "99aa7fcd9147f6e490b02a14",
			credential: "ypHMJDCHLtOwX2fp",
		},
		{
			urls: "turns:global.relay.metered.ca:443?transport=tcp",
			username: "99aa7fcd9147f6e490b02a14",
			credential: "ypHMJDCHLtOwX2fp",
		}
	];
	iceConfiguration.iceServers.push({
		urls: 'stun:muazkhan.com:3478',
		credential: 'muazkh',
		username: 'hkzaum'
	});
	iceConfiguration.iceServers.push({
		urls: 'turns:muazkhan.com:5349',
		credential: 'muazkh',
		username: 'hkzaum'
	});
	iceConfiguration.iceServers.push({
		urls: 'turn:muazkhan.com:3478',
		credential: 'muazkh',
		username: 'hkzaum'
	});
	const localConnection = new RTCPeerConnection(iceConfiguration)
	const remoteConnection = new RTCPeerConnection(iceConfiguration)
	let interviewerStream = null;
	let candidateStream = null;
	let candidateScreenStream = null;
	var localSDP = null;
	var remoteSDP = null;
	var interviewerJoined = null;
	var candidateJoined = null;
	const interviewerVideo = document.getElementById("interviewer")
	const candidateVideo = document.getElementById("candidate")
	const candidateScreen = document.getElementById("candidate-screen")

	if ('{{user_type}}' == 'interviewer'){
		interviewerVideo.muted = true
	}
	if ('{{user_type}}' == 'candidate'){
		candidateScreen.muted = true
		candidateVideo.muted = true
	}

	async function start(){
		const interviewerStream = await navigator.mediaDevices.getUserMedia({
			video: true,
			audio: false,
		});
		document.getElementById("interviewer").srcObject = interviewerStream;
		for (var track of interviewerStream.getTracks()) {
			console.log('local stream',track)
			localConnection.addTrack(track, interviewerStream);
		}
		localConnection.ontrack = (ev) => {
			console.log('remote stream', ev)
			if (ev.streams && ev.streams[0]) {
				document.getElementById("candidate").srcObject = ev.streams[0];
				// document.getElementById("candidate-screen").srcObject = ev.streams[0];
			// } else {
			// 	if (!candidateStream) {
			// 		candidateStream = new MediaStream();
			// 		document.getElementById("candidate").srcObject = candidateStream;
			// 	}
			// 	candidateStream.addTrack(ev.track);
			// 	if (!candidateScreenStream){
			// 		candidateScreenStream = new MediaStream();
			// 		document.getElementById("candidate-screen").srcObject = candidateScreenStream;
			// 	}
			// 	candidateScreenStream.addTrack(ev.track);
			}
		};
		
		localConnection.onicecandidate = e =>  {
		console.log("New ICE candidate on localConnection, Reprinting SDP")
			console.log(JSON.stringify(localConnection.localDescription))
			localSDP = localConnection.localDescription
		}
		localConnection.createOffer().then(o => localConnection.setLocalDescription(o) )
		// setTimeout(() => {
		// 	frappe.call({"method":"go1_recruit.go1_recruit.api.get_local_sdp", "args":{"localSDP":localSDP}})
		// }, 5000);
		// return localSDP
	}
	
	async function offerSDP(localSDP){
		console.log(localSDP)
		const offer = localSDP
		const remoteStream = new MediaStream
		const candidateStream = await navigator.mediaDevices.getUserMedia({
			video: true,
			audio: true,
		});
		const candidateScreenStream = await navigator.mediaDevices.getDisplayMedia({
			video: {
                cursor: "always"
            },
            audio: false
		})
		document.getElementById("candidate").srcObject = candidateStream
		document.getElementById("candidate-screen").srcObject = candidateScreenStream
		for (var track of candidateStream.getTracks()) {
			track['type']='candidate'
			console.log('Candidate Stream', candidateStream)
			remoteStream.addTrack(track)
		}
		for (var track of candidateScreenStream.getTracks()){
			track['type']='candidate-screen'
			console.log('Candidate Screen Stream', candidateScreenStream)
			remoteStream.addTrack(track)
		}
		for (var track of remoteStream.getTracks()){
			console.log('Remote Stream', remoteStream)
			remoteConnection.addTrack(track, remoteStream)
		}
		remoteConnection.onicecandidate = e =>  {
			console.log("New ICE candidate on remoteConnection. Reprinting SDP")
			console.log(JSON.stringify(remoteConnection.localDescription) )
			remoteSDP = remoteConnection.localDescription
		}
		remoteConnection.ontrack = (ev) => {
			if (ev.streams && ev.streams[0]) {
				document.getElementById("interviewer").srcObject = ev.streams[0];
			// } else {
			// 	if (!interviewerStream) {
			// 	interviewerStream = new MediaStream();
			// 	document.getElementById("interviewer").srcObject = interviewerStream;
			// 	}
			// 	interviewerStream.addTrack(ev.track);
			}
		};

		// openCall(remoteConnection)
		remoteConnection.setRemoteDescription(offer).then(a=>console.log("Local Description in remote is Set"))
		await remoteConnection.createAnswer().then(a => remoteConnection.setLocalDescription(a)).then(a=>
		console.log(JSON.stringify(remoteConnection.localDescription)))
		setTimeout(() => {
			frappe.call({"method":"go1_recruit.go1_recruit.api.answer", "args":{"remoteSDP":remoteSDP}})
		}, 5000);
	}

	function answerSDP(remoteSDP){
		console.log(remoteSDP)
		const answer = remoteSDP
		localConnection.setRemoteDescription(answer).then(a=>console.log("Remote Description in local is Set"))
	}
	
	async function listen_for_candidate(){
		while(!candidateJoined) {
			await new Promise(resolve => setTimeout(resolve, 5000))
			console.log('Awaiting Candidate')
			frappe.call({
				'method':'go1_recruit.go1_recruit.api.check_candidate_presence'
			})
		}
	}

	if ('{{user_type}}' === 'interviewer'){
		interviewerJoined = 1
		start()
		if (!candidateJoined){
			listen_for_candidate()
		}
	}

	if ('{{user_type}}' === 'candidate'){
		candidateJoined = 1
	}

	setTimeout(() => {
		frappe.realtime.on('check_candidate_presence', function(){
			interviewerJoined = 1
			if ('{{user_type}}' === 'candidate'){
				frappe.call({"method":"go1_recruit.go1_recruit.api.notify_interviewer"})
			}
		})
		frappe.realtime.on('candidate_joined', function(){
			candidateJoined = 1
			if ('{{user_type}}' === 'interviewer'){
				console.log('Candidate has Joined')
				frappe.call({'method':'go1_recruit.go1_recruit.api.offer', args:{'localSDP':localSDP}})
			}
		})
		frappe.realtime.on('offer', function(data){
			if ('{{user_type}}' === 'candidate' && !localSDP){
				offerSDP(data['localSDP'])
			}
			localSDP = data['localSDP']
		})
		frappe.realtime.on('answer', function(data){
			if ('{{user_type}}' === 'interviewer' && !remoteSDP){
				answerSDP(data['remoteSDP'])
			}
			remoteSDP = data['remoteSDP']
		})
	}, 1000);
</script>
{% endblock %}